
#button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;

}
  
body {
  background-color: skyblue;
}
button:hover {
    opacity: 0.8;
  }

.container {
    padding: 50px;
  }
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color: #04AA6D;
}