<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li> <a> {{user}} </a></li>
        <li style="float:right"> <a href = "/logout"> Logout </a> </li>

    </ul>


    <!-- Adds to user profile information updates info -->
    <h1> Lets confirm </h1>
    <h1> Your airport is </h1>

    <!-- Display airport name-->

    <h1> The flight time is </h1>
    <!-- Display flight time based on information-->

    <h1> Your airplane is </h1>
    <!-- Display airplane name-->
    
    <h1> Confirm everything and hit submit</h1>


    <button onclick="confirm()">Continue</button>
    <!-- Conditional if submitted redirects and alerts user and says thank you -->

    <script>
        function confirm() {
            alert("Thank you for confirming!")
        }
    </script>
    <a href= "/">
    <button id= "button"> Home </button>
    </a>
    <a href= "/profile"> 
    <button id="button"> Profile</button>
    </a>
    
</body>
</html>