<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">


</head>
<body>
    <!-- 
        
        Navbar 
    -->

    <ul>
        <li> <a href= "Login.html"> Login </a></li>
        <li style="float:right"> <a href = "Register.html"> Register </a> </li>

    </ul>
    




    <div id = "welcome">
        <h2> Welcome to AirlineReservation Inc. </h2>
        <h3> Sign up or log in to proceed  </h3> 

        <iframe src="https://giphy.com/embed/fZ3O6dlqnN52aZnlYQ" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/ciamaritimabeachwear-transparent-ciamaritima-garotasmaritima-fZ3O6dlqnN52aZnlYQ"></a></p>
    
    </div>

    <!-- Footer -->

</body>
</html>