<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">


</head>
<body>
    <!-- 
        
        Navbar 
    -->

    <ul>
        <li> <a href= "/login"> Login </a></li>
        <li> <a href= "/loginstaff">Staff Login</a></li>
        <li style="float:right"> <a href= "/staffregister"> Staff Register </a></li>
        <li style="float:right"> <a href = "/register"> Register </a> </li>

    </ul>
    
    {%if message %}
    <h1 style= "text-align:center">{{message}}</h1>
    {% endif %}

    <div id = "introduction">
        <h2> Welcome to AirlineReservation Inc. </h2>
        <h3> Sign up or log in to book a flight  </h3> 
    </div> 


    <div id = "welcome">
        <a href= "/addinfo">
            <button type="button" id = "homepage_button">Click here to search for a flight</button> 
        </a>


        <h1>All Incoming flights  </h1>

        <table id = "table"> 
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Departure_date</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Destination</th>
            <th>Flight status </th>
            
        {% for line in flights%}
            <tr>
                <td>{{line['flight_number']}}</td>
                <td>{{line['Departure_airport']}}</td>
                <td>{{line['Departure_date']}}</td>
                <td>{{line['Arrival_airport']}}</td>
                <td>{{line['Arrival_time']}}</td>
                <td>{{line['flight_status']}}</td>

            </tr>
            {%endfor %}
        </table>
        <iframe src="https://giphy.com/embed/fZ3O6dlqnN52aZnlYQ" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/ciamaritimabeachwear-transparent-ciamaritima-garotasmaritima-fZ3O6dlqnN52aZnlYQ"></a></p>


    </div>
    
    <!-- Footer -->

</body>
</html>