<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <h1 style= "text-align: center"> Login to continue using the platform</h1>

    <form method = "POST"> 
        <div class = "container"> 
            <strong> <label for="username"> Username/email: </label> <br> </strong>
            <input type="text" id= "fname" name="fname"><br>
            <strong> <label for="password">password:</label> <br> </strong>
            <input type="text" id="lname" name="lname">
            <a href= '/profile'>
            <button type="submit" form="form" value="Submit">Submit</button>
            </a>
            
        </div>

    </form>
    
</body>
</html>