<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/profile.css')}}">
</head>
<body>
    <form action= "/post" method= "POST">
        <h1> Welcome {{first_name}} </h1>
    </form>

    <!-- Load up recent flight information Gather variables from app.py-->
    
    <!-- Nav header bar-->
    <ul>
        <li> My Flights </li>
        <li> Previous Flights </li>
        <li> Spending </li>
        <li> Logout </li>
    </ul>

    <div id= "content"> 
    <h1> Welcome to your profile. Check out all your confirmed flights and other information</h1>
    </div>
    
</body>
</html>