<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/form.css')}}">
</head>
<body>
    <ul>
        <li> <a href= "/"> {{customer}}</a></li>
        <li> <a href= "/addinfo"> Book flight </li>  </a>
        <li> <a href= "/"> Cancel Flight </a></li>
        <li style="float:right"> <a href = "/logout"> Logout </a> </li>
    </ul>
    
    <form action= "/post" method= "POST">
        <h1 style= "text-align:center"> Welcome, {{customer}} </h1>
    </form>

    <!-- Load up recent flight information Gather variables from app.py-->
    
    <!-- Nav header bar-->

    <div id= "content"> 
    <h3> Check out all your confirmed flights and other information</h3>

    <section class = "banners"> 
    <h1 style = "text-align: center"> Your confirmed flights </h1>

    {% for line in info %}
        <p> Ticket id: {{line['Ticket_id']}} </p>
        <p> Flight number: {{line['flight_number']}}</p>
        <p> Sold Price: {{line['sold_price']}}</p>


    {%endfor%}
    </section>

    <section class = "banners"> 
    <h1> Your spending: ${{tot_spend}} </h1>
    </section>
    

        <!-- Pop the flight from database
             Delete entry WHERE flight_info corresponds
        -->





    <h1 style= "text-align:center"> Give a rating! </h1>

    <div class="container">
        <form method = 'POST' action="/profile"> 
        
          
          <label for="flight_id">Flight id: </label>
          <input type="text" id = "flight_id" name="flight_id" placeholder= "Choose flight number"> 


          <label for="fname">Name</label>
          <input type="text" id="fname" name="name" placeholder="Your name..">.
      
          <label for="rating">Rating</label>
          <select id="rating" name="rating">
            <option value={{5}}>⭐⭐⭐⭐⭐</option>
            <option value={{4}}>⭐⭐⭐⭐</option>
            <option value={{3}}>⭐⭐⭐</option>
            <option value={{2}}> ⭐⭐ </option>
            <option value={{1}}>⭐</option>

          </select>
      
          <label for="comments">Subject</label>
          <textarea id="comments" name="comments" placeholder="Write something.." style="height:200px"></textarea>
      
          <input style= "justify-content: center" type="submit" value="Submit">
          {% if result %}
          <h1> {{result}} </h1>
          {% endif %}

        </form>
      </div>
        




    </div>
    
</body>
</html>