<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <ul>
        <li> <a> {{user}} </a></li>
        <li style="float:right"> <a href = "/logout"> Logout </a> </li>

    </ul>

    <h1 style= "text-align:center"> Enter Payment Details</h1> 
    <!-- Card type- credit/debit, card number, name on card, expiration date -->
    <div id = "payment_info">
    <form action = "/bookflight/{{flight_num}}" method = "POST"> 
        <label for="credit/debit">Credit/Debit:</label>
        <select  list="credit/debit" id="credit/debit" name="credit/debit" placeholder="credit/debit" required>
            <option value="Credit">credit</option>
            <option value="Debit">debit</option>
        </select>
        <label for= "card_num"> Card Number </label>
        <input type="text" id="card_num" name="card_num" placeholder="Card Number" required> 
        <label for ="card_name"> Name on card </label>
        <input type="text" id = "card_name" name="card_name" placeholder="Card Name" required>
        <label for ="exp_date"> Expiration Date: </label>
        <input type="text" id = "exp_date" name="exp_date" placeholder="mm/yy" required>

        <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>



