<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <ul>
        <li> <a> {{user}} </a></li>
        <li style="float:right"> <a href = "/logout"> Logout </a> </li>

    </ul>
    <h1> Verify your personal information, </h1>
    <!-- Match user information thats already logged in with-->
    <div>
        <form action="/personalinfo" method= "POST">
          <label for="fname">Name</label>
          <input type="text" id="name" name="name" placeholder=" Name" required>

          <label for="building_num">Building number</label>
          <input type="text" id="building_num" name="building_num" placeholder="Building Number" required>

          <label for="street">Street</label>
          <input type="text" id="street" name="street" placeholder="Street" required>

          <label for="city">City</label>
          <input type="text" id="city" name="city" placeholder="city" required>

          <label for="State">State</label>
          <input type="text" id="State" name="State" placeholder="State" required>
          
          <label for="passport">Passport</label>
          <input type="text" id="passport" name="passport" placeholder="passport" required>
          {% if error %}
            <h1> ERROR: {{error}} </h1>
         {% endif %}

          <a href = "/payment">
          <input type="submit" value="Submit">
          </a>

        </form>
    </div>

</body>
</html>