<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <h1 style= "text-align:center">Register to use our platform</h1>
    
    <form method = 'POST'> 
        <div class= "container"> 
            <strong>  <label for="fname"> First name: </label> </strong>
            <input type="text" id= "fname" name="fname"><br> 
            <strong> <label for="lname">Last Name:</label> </strong>
            <input type="text" id="lname" name="lname"><br> 
            <strong> <label for="fname"> Username </label> </strong>
            <input type="text" id="username" name="username"><br> 
            <strong> <label for="fname"> Password </label> </strong>
            <input type="text" id="password" name="password"> <br>
            <a href= "/profile">
            <button type="submit" form="form" value="Submit">Submit</button>
            </a>
        </div>

    </form>


    
</body>
</html>