<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <a href = "/staffregister"> 
    <button>Register for Airline Staff</button>
    </a>
    <h1 style= "text-align:center">Customer Registration</h1>
    
    <div>
        <form action="/register" method = "POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Enter Full Name">
      
          <label for="building_num">Building number</label>
          <input type="text" id="building_num" name="building_num" placeholder="Building Number">

          <label for="street">Street</label>
          <input type="text" id="street" name="street" placeholder="Street">

          <label for="city">city</label>
          <input type="text" id="city" name="city" placeholder="city">

          <label for="State">State</label>
          <input type="text" id="State" name="State" placeholder="State">
          
          <label for="passport">passport</label>
          <input type="text" id="passport" name="passport" placeholder="passport">

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter Email">

          <label for="password">Password</label>
          <input type="text" id="password" name="password" placeholder="Enter a new password">

          <a href = "/CustomerHomePage">
          <input type="submit" value="Submit">
          </a>
          {% if error %} 
            <p> Error: {{error }} </p>
          {% endif %} 

        </form>
    </div>


    
</body>
</html>