<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <ul> 
        <li> <a href= "/"> Home </a></li>
        <li style= "float:right"> <a href= "/staffregister"> Staff Register </a></li>
    </ul>
    <h1 style= "text-align:center">Register as a new customer</h1>
    
    <div>
        <form method = "POST" action="/register">

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email" required> <br> 

            <label for="password">Password</label>
            <input type="text" id="password" name="password" placeholder="password" required>

            <label for="fname">Full Name</label>
            <input type="text" id="fname" name="fname" placeholder="fname" required>
    
        <!-- <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last Name"> -->

            <label for="building_num">Building number</label>
            <input type="text" id="building_num" name="building_num" placeholder="Building Number" required>

            <label for="street">Street</label>
            <input type="text" id="street" name="street" placeholder="Street" required>

            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="city" required>

            <label for="State">State</label>
            <input type="text" id="State" name="State" placeholder="State" required>
        
            <label for="passport">Passport</label>
            <input type="text" id="passport" name="passport" placeholder="passport" required>

            <a href = "/">
            <input id= "button" type="submit" value="Submit">
            </a>
            {% if error %}
                <h1> {{error}} </h1>
            {% endif %}
            <p>Already have an account? <a href = "/login" > Log in</a></p>

        </form>
    </div>


    
</body>
</html>