<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <ul>
        <li> <a> {{staffuser}} </a></li>
        <li> <a href= "/staffedit"> Edit flight information </li> </a>
        <li> <a href= "/staffview"> View information</li> </a>
        <li> <a href= "/addflight"> Add a Flight</li> </a>
        <li> <a> Add new Airplane </a></li>
        <li> <a> Add new Airport </a></li>
        <li style="float:right"> <a href = "/logout"> Logout </a> </li>
        

    </ul>

    <h1> Welcome to the staff profile {{staffuser}} </h1>

    <h1> View your scheduled flights</h1>
    {% for line in staff_flights%}
        <h1> Departure </h1>
        <p> {{line['Departure_date']}} </p>
        <p> {{line['flight_number']}} </p>
        <p> {{line['Departure_airport']}}</p>
        
        <h1> Arrival </h1>
        <p> {{line['Arrival_date']}}</p>
        <p> {{line['Arrival_airport']}} </p>
    {% endfor %}

    <!-- Subnavbar section: Edit-->
    <h1> Create new flights </h1>
    <h1> Change status for flights</h1>
    <h1> Add airport in the new system </h1> 

    <!-- Subnavbar section: View-->
    <h1> View Flight Ratings </h1>
    <h1> View frequent customers </h1>
    <h1> View reports </h1>
    <h1> View earned revenue</h1> 

</body>
</html>