<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <ul> 
        <li>  {{staffuser}} </li>
        <!-- Creation of navbar with 
            -view flight ratings
            -Change status for flights
            -Add airport in the new system
            -View Flight Ratings
            -View frequent customers
            -View reports
            -View earned revenue
        -->
    </ul>
    <p> Testing </p>
    
</body>
</html>