<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <ul>
        <li> <a href= "/">Home </a> </li>
        <li style= "float:right"> <a href= "/register"> Customer register </a></li>
    </ul>
    <div>
        <h1> Register as a staff member </h1>
        {%if error %}
        <h1> ERROR: {{error}} </h1>
        {% endif %}
        <form action="/staffregister" method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Full Name" required>

          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" required>

          <label for="password">Password</label>
          <input type="text" id="password" name="password" placeholder="Password" required>


          <label for="dob">Date of Birth</label>
          <input type="text" id="dob" name="dob" placeholder="(MM/DD/YYYY)" required>

          <label for="phone_num">Phone number</label>
          <input type="text" id="phone_num" name="phone_num" placeholder="phone_num" required>

          <label for="Airline_name">Airline Name</label>
          <input type="text" id="Airline_name" name="Airline_name" placeholder="Airline Name" required>

          <p>Already have an account? <a href = "StaffLogin.html" > Log in</a></p>
          <input type="submit" value="Submit">

          </a>

        </form>
    </div>
</body>
</html>