<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel= "stylesheet" href = "{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <ul>
        <li> <a href= "/"> Home </a></li>
        <li style="float:right"> <a href = "/login"> Customer login </a> </li>
    </ul>


<h1> Login as Airline Staff</h1>
<form method = "POST"> 
    <div class = "container"> 
        <strong> <label for="username"> Username/email: </label> <br> </strong>
        <input type="text" name="username" required/><br>
        <strong> <label for="password">password:</label> <br> </strong>
        <input type="text" name="password" required/>
        <a>
            <input id = "button" type="submit"/>
        <!-- <a href= '/staffprofile'>
        <button type="submit" form="form" value="Submit">Submit</button> -->
        </a>
    </div>
</form>
{%if error %}
    <h1> ERROR: {{error}} </h1>
    
{% endif %}

</body>

</html>